body{
    background: linear-gradient(#00416A, #E4E5E6);
    background-repeat: no-repeat;
 height: 100%;
}


h1{
    color: violet;
    text-align: center;
    
    
}
.invi{

    color: white;
    text-align: center;
    font-size: large;
}

.foto{

    text-align: center;
}